@model IEnumerable<Assignment2.Models.ResourcesModel>

@{
    ViewData["Title"] = "Student";
}
<!--CSS links-->
<link rel="stylesheet" href="~/css/student_staff.css" />
 <!-- Change navbar highlighted item based on the page you are in -->
<style>
    #student {
        background-color: lightskyblue;
        border-radius: 25px;
    }
</style>
<!--JS links-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/student.js"></script>

<!-- Student information display -->
<div id="user-info">
    @if (ViewData["sessionUserId"] != null)
    {
        var userId = ViewData["sessionUserId"];
        var userName = ViewData["sessionUserName"];
        <p class="user-info-label">Student name: <span class="user-info-value" id="user-name">@userName</span></p>
        <p class="user-info-label">Student ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="user-info-value" id="user-id">@userId</span></p>
        <p class="user-info-label">Course: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="user-info-value" id="user-course">BSc. Web & Mobile Application Development</span></p>
    }
</div>

<!-- Main content -->
<div id="content">
    <div class="clearfix">
        <!-- Unit dropdown menu -->
        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-unit">
                Select Unit 
            </button>
            <!-- Dropdown items -->
            <ul class="dropdown-menu">
                <li id="selector-1"><a class="dropdown-item">NEF3002: Applied Project</a></li>
                <li id="selector-2"><a class="dropdown-item">NIT3112: Advance Web Development</a></li>
                <li id="selector-3"><a class="dropdown-item">NIT3114: Business System Development</a></li>
                <li id="selector-4"><a class="dropdown-item">NIT3171: ICT Business Analytics and Data Visualization</a></li>
            </ul>
        </div>
        <!-- Category dropdown menu -->
        <div class="dropdown" id="dd-cat">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-category">
                Select Category
            </button>
            <ul class="dropdown-menu">
                <li id="dropdown-books"><a class="dropdown-item">Books</a></li>
                <li id="dropdown-devices"><a class="dropdown-item">Devices</a></li>
            </ul>
        </div>
    </div>
    <div id="books" class="container">

        @foreach (var item in Model)
        {
            if (item.Unit == "AppliedProject" && item.ResourceType == "Book")
            {

                <!-- Each element in the grid has a separate table -->
                <!---------------------------------------------->
                <div class="content-element applied-project row">
                    <!--image-->
                    <div class="element-image col"><img src="~/images/@item.ImagePath" alt="requested resource image"/></div>
                    <!--text-->
                    <div class="element-text col">
                        <p class="element-name">@item.ResourceName</p>
                        <p class="element-description">@item.ResourceDescription</p>      
                    </div>
                    <!--div class="form-group"></div-->
                    <!--button-->
                    <div class="element-button col">
                        <div class="centerbox">
                            <button class="btn-request" onclick="RequestSend('@item.ResourceId')">Request</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div id="devices" class="container">

        @foreach (var item in Model)
        {
            if (item.Unit == "AppliedProject" && item.ResourceType == "Device")
            {

                <!-- Each element in the grid has a separate table -->
                <!---------------------------------------------->
                <div class="content-element applied-project row">
                    <!--image-->
                    <div class="element-image col"><img src="~/images/@item.ImagePath" alt="requested resource image"/></div>
                    <!--text-->
                    <div class="element-text col">
                        <p class="element-name">@item.ResourceName</p>
                        <p class="element-description">@item.ResourceDescription</p>      
                    </div>
                    <!--div class="form-group"></div-->
                    <!--button-->
                    <div class="element-button col">
                        <div class="centerbox">
                            <button class="btn-request" onclick="RequestSend('@item.ResourceId')">Request</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @*
    <div id="books" class="container">
        <!-- Each element in the grid has a separate table -->
        <!---------------------------------------------->
        <div class="content-element applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/python.jpg" alt="requested resource image"/></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">Python Programming for Beginners</p>
                <p class="element-description">The complete reference to python programming.</p>      
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element advance-web-dev applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/eBusiness.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">Information Systems & E-Business</p>
                <p class="element-description">The complete reference to information systems & E-Business.</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element online-business-sys applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/reference_1.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">ASP.NET Book</p>
                <p class="element-description">The complete reference to ASP.NET..</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element ict-bus-analytics row">
            <!--image-->
            <div class="element-image col"><img src="~/images/Data_V1.png" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">Fundamentals of Data Visualization</p>
                <p class="element-description">The complete reference to data visualization...</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
    </div>


    <div id="devices" class="tab-content container">
        <!---------------------------------------------->
        <div class="content-element applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/Apple1.jpg" alt="requested resource image" height="30%" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance Computer</p>
                <p class="element-description">macOS Monterey (version 12.2.1) - 8-core...</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element online-business-sys row">
            <!--image-->
            <div class="element-image col"><img src="~/images/hp2.png" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">HP Intel i5 11th Gen 15s...</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element ict-bus-analytics row">
            <!--image-->
            <div class="element-image col"><img src="~/images/hp1-1.png" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">HP Intel i3 11th Gen 15s...</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element ict-bus-analytics applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/Apple5.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance Computer</p>
                <p class="element-description">macOS Monterey (version 11.2.1) - 8-core...</p>
            </div>
            <!--button-->
            <div class="element-button col">
                <div class="centerbox">
                    <button class="btn-request">Request</button>
                </div>
            </div>
        </div>
    </div>*@
</div>

<script>
    function RequestSend(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("StudentRequest", "Home")',
            data: { Id: id },
            success: function(msg) {
                // Replace the div's content with the page method's return.
                $("#Result").text(msg.d);
            }
        });
    }
</script>